:root {
  --basic-black: #000000;
  --basick-gray: #A6A6A6;
  --basick-white: #FFFFFF;

  --text-color: #283136;
  --text-catalog: #666666;

  --icon-footer: #E1E1E1;
  --icon-range: #231F20;
  --icon-border: #DBDBDB;

  --input-border: #D7DCDE;
  --input-hover: #B4B9BB;
  --input-text: #444444;

  --light-red: #FB565A;
  --red: #E74246;
  --dark-red: #D7373B;

  --light-green: #00CA74;
  --green: #00BC6C;
  --dark-green: #00AA62;

  --light-yellow: #EFC84A;
  --yellow: #EAB534;
  --dark-yellow: #E5A722;

  --light-gray: #EEEEEE;
  --gray: #DFDFDF;
  --dark-gray: #D5D5D5;
}


/* Общие стили */

body {
  min-width: 1460px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Grid index */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1160px;
  margin: 0 auto;
}


/* header */

.main-header {
  background-color: var(--light-gray);
}

.header-logo {
  width: 160px;
  height: 65px;
}

.header-logo svg:active {
  fill: var(--basick-gray);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-width: 440px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation__link {
  padding: 15px 0;
}

.cart {
  max-width: 160px;
  padding-left: 25px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.site-navigation__link,
.cart a,
.site-navigation__link:visited,
.cart:visited {
  color: var(--basic-black);
}

.site-navigation__link:hover,
.cart a:hover {
  color: var(--light-red);
}

.site-navigation__link:active,
.cart a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.active-menu {
  border-bottom: 2px solid var(--light-red);
}


/* Slides */

.slides {
  background-color: var(--light-gray);
}

.slide-item {
  background-repeat: no-repeat;
  background-position: right;
  background-color: var(--light-gray);
}

.slide-item:nth-of-type(1) {
  background-image: url("../img/slide-1.png");
}

.slide-item:nth-of-type(2) {
  background-image: url("../img/slide-2.png");
}

.slide-item:nth-of-type(3) {
  background-image: url("../img/slide-3.png");
}

.slide-item__title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--basic-black);
}

.slide-item__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
}

.slide-item__button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basick-white);
  text-align: center;
  background-color: var(--light-red);
}

.slide-item__button:hover {
  background-color: var(--red);
}

.slide-item__button:active {
  background-color: var(--dark-red);
}

.slides-switches {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slide-radio__button {
  border: none;
}


/* Product */

.product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-top: 80px;
  list-style: none;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 300px;
  padding-top: 165px;
}

.product:nth-child(1) {
  background-image: url("../img/icon-web.png");
  background-repeat: no-repeat;
}

.product:nth-child(2) {
  background-image: url("../img/icon-app.png");
  background-repeat: no-repeat;
}

.product:nth-child(3) {
  background-image: url("../img/icon-presentation.png");
  background-repeat: no-repeat;
}

.product__title {
  margin: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.product__text {
  padding-right: 40px;
  margin-top: 16px;
  margin-bottom: 33px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
}

.product__button {
  padding: 16px 40px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basick-white);

  border-radius: 3px;
}

.product:nth-child(1) .product__button {
  background-color: var(--light-red);
}

.product:nth-child(1) .product__button:hover {
  background-color: var(--red);
}

.product:nth-child(1) .product__button:active {
  background-color: var(--dark-red);
}

.product:nth-child(2) .product__button {
  background-color: var(--light-green);
}

.product:nth-child(2) .product__button:hover {
  background-color: var(--green);
}

.product:nth-child(2) .product__button:active {
  background-color: var(--dark-green);
}


.product:nth-child(3) .product__button {
  background-color: var(--light-yellow);
}

.product:nth-child(3) .product__button:hover {
  background-color: var(--yellow);
}

.product:nth-child(3) .product__button:active {
  background-color: var(--dark-yellow);
}


/* About */

.about__title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: var(--basic-black);
}

.about__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
}

.order-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color);
}

.order-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.order-list__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
}


/* Advantages */

.advantages-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--basic-black);
}

.advantages-table__row:nth-of-type(1) {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
  color: var(--basic-black);
}

.advantages-table__row sup {
  font-size: 26px;
  line-height: 40px;
}

.advantages-table__row:nth-of-type(2) {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--text-color);
}


/* Partner */

.partner-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.partner-item {
  opacity: 0.2;
}

.partner-item:hover {
  opacity: 1;
}

.partner-item:active {
  opacity: 0.1;
}


/* Address */

.footer-map {
  position: relative;
  z-index: -1;
}

.footer-map img {
  width: 100%;
}

.footer-map__pointer::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 870px;

  width: 231px;
  height: 190px;

  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-contacts {
  position: absolute;
  top: 50px;
  left: 50px;

  padding: 50px;

  background-color: var(--basick-white);
}

.footer-contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);
}

.footer-contacts__address,
.footer-contacts__telephone {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--text-catalog);
}

.footer-contacts__button {
  padding: 15px 44px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basick-white);
  background-color: var(--light-red);

  border: none;
  border-radius: 3px;
}

.footer-contacts__button:hover {
  background-color: var(--red);
}

.footer-contacts__button:active {
  background-color: var(--dark-red);
}


/* footer social */


.footer-info {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 68px auto;
}

.footer-promo {
  margin-left: 140px;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 260px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.social-item__button {
  background-color: var(--icon-footer);
}

.social-item__button:hover {
  background-color: var(--red);
}

.social-item__button:active {
  background-color: var(--dark-red);
}

.social-item:nth-child(1) .social-item__button {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-item:nth-child(2) .social-item__button {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-item:nth-child(3) .social-item__button {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-promo__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: var(--basic-black);
}

.footer-promo__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--input-text);
}


/* modal */

.modal-title {
  font-size: 45px;
  font-weight: 700;
  line-height: auto;
  color: var(--basic-black);
}

.feedback-form__item input {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--input-text);
  border: 2px solid var(--input-border);
}

.feedback-form__item input:hover {
  color: var(--input-text);
  border: 2px solid var(--input-hover);
}

.feedback-form__item input:focus {
  color: var(--basic-black);
  border: 2px solid var(--basic-black);
}

.feedback-form label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: var(--basic-black);
}

.feedback-form__button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--basick-white);
  text-align: center;
  background-color: var(--light-red);
  border: none;
}

.feedback-form__button:hover {
  background-color: var(--red);
}

.feedback-form__button:active {
  background-color: var(--dark-red);
}

.close-button {
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 0.3;
}

.close-button:hover {
  opacity: 1;
}

.close-button:active {
  opacity: 0.1;
}


/* Catalog grid*/

.catalog-container {
  display: grid;
  grid-template-columns: 260px 760px;
  gap: 140px;
}

.catalog {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}


/* Catalog h1 */

.catalog-title {
  min-height: 241px;

  margin: 0 auto;
  padding-top: 85px;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--light-gray);
}


/* Filter */

.filter legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
  color: var(--basic-black);
}

.cost label {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
  color: var(--text-color);
}

.grid label,
.features label {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: var(--text-color);
}

.grid-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.features-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-button {
  padding: 17px 88px;
  margin-top: 33px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);

  background-color: var(--light-gray);
  border: none;
}

.filter-button:hover {
  background-color: var(--gray);
}

.filter-button:active {
  background-color: var(--dark-gray);
}


/* Sort */

.sort {
  display: grid;
  grid-template-columns: 354px 272px 40px;
  align-items: center;
  gap: 47px;
}


.sort-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.breadcrumbs-list {
  display: flex;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs-item a,
.breadcrumbs-item a:visited {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs-item a:hover {
  opacity: 0.6;
}

.breadcrumbs-item a:active,
.breadcrumbs-item .active-sort {
  opacity: 1;
}

.range-list {
  display: flex;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  list-style: none;
}

.range-icon {
  fill: var(--basick-gray);
  opacity: 0.2;
}

.range-icon:hover {
  opacity: 1;
}

.range-icon:active,
.active-range {
  fill: var(--icon-range);
  opacity: 1;
}


/* Catalog */

.catalog-list {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 30px;

  padding: 0;
  margin: 0;

  list-style: none;
}

/* .catalog-item {
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: top;
} */

.catalog-item__description {
  background-color: var(--light-gray);
}

.catalog-item__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
}

.catalog-item__title:hover {
  color: var(--light-red);
}

.catalog-item__title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-item__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--text-catalog);
}

.catalog-item__button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basick-white);
  background-color: var(--light-red);
}

.catalog-item__button:hover {
  background-color: var(--red);
}

.catalog-item__button:active {
  background-color: var(--dark-red);
}


/* Pagination */

.pagination-list {
  display: flex;
  align-items: center;

  min-height: 164px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item {
  padding: 17px 20px;
  margin-right: 10px;

  background-color: var(--light-gray);
  border-radius: 3px;
}

.pagination-item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basic-black);
}

.pagination-item:last-child {
  padding: 17px 77px;
}

.pagination-item:hover {
  background-color: var(--gray);
}

.pagination-item:active {
  background-color: var(--dark-gray);
}

.active-list {
  background-color: transparent;
  border: 3px solid var(--icon-border);
  border-radius: 3px;
}
